<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Project_Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Productos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product/list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista de Productos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Estudiantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student/list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista de Estudiantes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
